*{
    margin: 0;
    background-color: aliceblue;
}

.nav{
    background-color: #1597BB;
    width: 100vw;
    height: 10vh;
    display: flex;
}
.nav > div{
    background: #1597BB;
}
.logo >h3{
    text-decoration: none;
    color: aliceblue;
    background-color: #1597BB;
    font-size: xx-large;
    margin: 15px 0 0 15px;
}
.middle{
    width: 40%;
}
.menu{
    width: 60%;
    display: flex;
    margin: 1.5%;
    justify-content: space-around;
}
.menu > a{
    text-decoration: none;
    background: #1597BB;
    color: aliceblue;
    font-size: larger;
}

.menu > button
{
    font-weight: bold;
    background-color: aliceblue;
    color: #1597BB;
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: #055970;
    color: aliceblue;
}
